<div class="col-md-4 d-flex">
    <div class="card my-2 flex-fill">
        <img class="card-img-top" src="<%= show.thumbnail %>" alt="Card image cap">
      <div class="card-body">
        <% if(tags === true){ %>
            <span class="badge badge-secondary"><%= show.category %></span>
        <% } %>
        <% if(show.genre.length > 0){ %>
            <% show.genre.forEach(function(genre){ %>
                <span class="badge badge-secondary"><%= genre %></span>
            <% }) %>
        <% } %>
        <h5 class="card-title"><%= show.title %></h5>
        <p class="card-text"><%= show.description %></p>
      </div>
      <div class="card-footer">
        <a href="/content/id/<%= show._id %>" style="width: 100%" class="btn btn-primary"><span data-feather="info"></span> Places to stream</a>
      </div>
    </div>
</div>